# Example desktop entry for running up the autostart script (signalling.sh)
# This file should be saved as: /home/<user>/.config/autostart/signalling.desktop
# This will then autostart the application once the Pi has started up (user login)
# Primarily intended for running up the application on remote track sensor nodes
#
[Desktop Entry]
Type=Application
Name=Signalling
Terminal=false
#
# Remember to change 'signalbox' to your user name to set the correct path
#
Exec=lxterminal -e "sh /home/signalbox/.config/autostart/signalling.sh"

